*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color:#262a2f;
}
.container{
    width:400px;
    padding:25px 35px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#fff;
    border-radius:10px;

}

.container p{
    font-size:15px;
    font-weight:600;
    margin-bottom:8px;
}

.container input{
    width:100%;
    height:50px;
    border-radius:5px;
    outline: none;
    padding:10px;
    border:2px solid #494eea;
    margin:10px 0 20px;
}

.container button{
    width:100%;
    height:50px;
    border-radius:5px;
    outline: none;
    background-color: #494eea;
    color:#fff;
    font-weight: 600;
    border:none;
    padding:10px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    margin:10px 0px;

}

#imgBox{
    width:200px;
    overflow:hidden;
    max-height:0;
    border-radius:5px;
    transition: max-height 1s;
}

#imgBox img{
    width:100%;
    padding:10px;
}

#imgBox.show-img{
    max-height:300px;
    border:1px solid #d1d1d1;
    margin:10px auto;
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake {

    0%{
        transform:translateX(0);
    }
     25%{
        transform:translateX(-2px);
    }
     50%{
        transform:translateX(0);
    }
     75%{
        transform:translateX(2px);
    }
     100%{
        transform:translateX(0);
    }
    
}