*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background-color:#3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding:10px 40px;
    background-color:#fff;
    border:0;
    outline: none;
    border-radius:20px;
    cursor: pointer;
    font-size:20px;
    font-weight:600;
}
.popup{
    width:400px;
    background-color: #fff;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    border-radius: 6px;
    color:#333;
    text-align: center;
    padding:0px 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.open-popup{
     top:50%;
    visibility:visible;
     transform: translate(-50%,-50%) scale(1);

}
.popup img{
    width:100px;
    margin-top:-50px;
    border-radius:50%;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);

}

.popup h2{
    font-size:38px;
    font-weight:500px;
    margin:30px 0 10px;
}
.popup button{
    width:100%;
    padding:10px 0px;
    margin-top:30px;
    background-color:#6fd649;
    color:#fff;
    border:0;
    outline: none;
     box-shadow:0 5px 5px rgba(0,0,0,0.2);
    border-radius:4px;
    cursor: pointer;
    font-size:18px;
    font-weight:600;

}