* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #434989 inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
}

body {
  background-color: #39297b;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 100px auto 50px;
  font-weight: 600;
}

form {
  width: 90%;
  height: 80px;
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  background: #434989;
  border-radius: 8px;
}

form input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  flex: 1;
  color: #fff;
  padding: 0 30px;
  font-size: 18px;
}

form button {
  height: 100%;
  padding: 0 40px;
  background: #ff3929;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-top-right-radius: 8px;
  -webkit-text-fill-color: #fff; /* fixes autofill text color */
  transition: background-color 5000s ease-in-out 0s;
  border-bottom-right-radius: 8px;
}

::placeholder {
  font-size: 18px;
  color: #fff;
}

#show-more-btn {
  background: #ff3929;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 10px 20px;
  display: none;
  margin: 10px auto 100px;
  border-radius: 4px;
}

#search-result {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

#search-result img {
  width: 100%;
  height: 230px;
  border-radius: 5px;
  object-fit: cover; /* fills container and crops edges evenly */
  display: block;
}

#search-result img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  #search-result {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  form button {
    padding: 0 10px;
    font-size: 15px;
  }

  form {
    height: 60px;
  }
}
