* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #08001f, #30197d);
  color: #fff;
  position: relative;
}

.container {
  width: 600px;
  height: 150px;
  position: absolute;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  padding: 100px;
}
.clock {
  width: 100%;
  height: 100%;
  background: rgba(235, 0, 255, 0.11);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
}

.container::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  background: #f41b75;
  border-radius: 5px;
  top: -50px;
  left: -50px;
  z-index: -1;
}

.container::after {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  background: #419aff;
  border-radius: 50%;
  bottom: -50px;
  right: -30px;
  z-index: -1;
}

.clock span {
  font-size: 65px;
  width: 100px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.clock span::after {
  font-size: 16px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%);
}

#hrs::after {
  content: "HOURS";
}

#min::after {
  content: "MINS";
}

#sec::after {
  content: "SEC";
}

@media (max-width: 768px) {
  .container {
    width: 350px;
  }
  .container::before {
    display: none;
  }
  .container::after {
    display: none;
  }
  .clock span {
    font-size: 35px;
    width: 80px;
  }
  .clock span::after {
    font-size: 10px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%);
  }
  h1 {
    font-size: 25px;
  }
}
