* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/background.png);
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 10px 10%;
}

.hero h3 {
  margin-top: 15%;
  font-size: 30px;
  font-weight: 400;
}

.hero h1 {
  margin-top: 30px;
  font-size: 50px;
}

.hero p {
  margin: 10px 0 50px;
}

form {
  background-color: #fff;
  display: flex;
  width: fit-content;
}

form input {
  border: 0;
  outline: none;
  height: 60px;
  width: 400px;
  padding: 10px 20px;
  font-size: 16px;
}

form button {
  border: 0;
  outline: none;
  background-color: #61b752;
  height: 60px;
  width: 100px;
  cursor: pointer;
}

span {
  color: #61b752;
  font-weight: bold;
}

@media (max-width: 768px) {
  form input {
    width: auto;
    padding: 10px 10px;
  }
}
