* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #002339;
  color: #fff;
}

.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}

.display {
  width: 100%;
  background-color: #fff;
  color: #333;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.container h1 {
  font-weight: 500px;
  font-size: 45px;
}

.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.display img {
  width: 30px;
  cursor: pointer;
}

.display input {
  border: 0;
  outline: 0;
  font-size: 24px;
}

.container img {
  width: 28px;
  margin-right: 10px;
}

.container button {
  border: 0;
  outline: 0;
  background-color: #019f55;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 26px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .display {
    margin-left: -15px;
  }

  .display img {
    margin-left: -15px;
  }
  .container button {
    margin-left: -15px;
  }
}
