* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #250057;
}

.input-box {
  width: 90%;
  background-color: #fff;
  max-width: 370px;
  margin: 300px auto;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
}
.input-box input {
  width: 100%;
  border: none;
  padding: 10px 0;
  outline: none;
  font-size: 20px;
}
.input-box img {
  width: 30px;
  cursor: pointer;
}
