*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width:100vw;
    height:100vh;
    background-image:url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    padding:0 8%;
}

.logo{
    width:120px;
    padding:20px 0;
    cursor: pointer;
}

.content{
 position: absolute;
 top:50%;
 transform: translateY(-50%);
 margin:10px;
 color: white;
}

.content h1{
    font-size:64px;
    font-weight: bold;
}

.content span{
    color:#ff3753;
}

.btn{
    background: transparent;
    border: 2px solid #fff;
    padding:12px 25px;
    outline: none;
    color: #fff;
    display: flex;
    margin-top:15px;
    align-items: center;
    cursor: pointer;
}

.btn img{
    width:15px;
    margin-left:10px;
    
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size:60px;
    margin-bottom:-14px;
}

.rocket{
    width:250px;
    position: absolute;
    right:10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
    
}

@keyframes rocket {
    0%{
        bottom:0;
        opacity:0;
    }

    100%{
        bottom: 105%;
        opacity:1;
    }
}
    
