* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: #201f21;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box {
  width: 90%;
  max-width: 370px;
  position: relative;
}
.input-box input {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border: 1px solid #ccc;
  outline: none;
  color: white;
  background: transparent;
}

button {
  background: transparent;
  outline: none;
  border: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

button img {
  width: 35px;
}

#msg {
  color: white;
  position: absolute;
  display: none;
  bottom: -30px;
}

::placeholder {
  font-size: 15px;
}
