* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #e3f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #324452;
  padding: 10px;
  border-radius: 10px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-weight: 500;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  color: #fff;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  font-size: 45px;
  flex: 1;
  text-align: right;
  box-shadow: none;
}

form input.equal {
  width: 150px;
}

form input.operators {
  color: #33ffd8;
}

@media (max-width: 768px) {
  .calculator form input {
    width: 60px;
    height: 60px;
  }
}
