* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #edeaff;
}

.stop-watch {
  width: 90%;
  max-width: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/background.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  margin: 200px auto 0;
  padding: 40px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.stop-watch h1 {
  margin-top: 60px;
  font-size: 64px;
  margin-bottom: 30px;
  font-weight: 500;
}

.stop-watch .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons img {
  width: 50px;
  cursor: pointer;
  margin: 0 40px;
}

.buttons img:nth-child(2) {
  width: 80px;
}
