* {
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive;
  box-sizing: border-box;
}

body {
  background-color: #39297b;
  color: #fff;
}

#game-container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  margin-bottom: 30px;
}
.cell {
  width: 95px;
  height: 95px;
  border: 2px solid black;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}

#cell-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 245px;
  margin: auto;
}

button {
  border: 0;
  outline: 0;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .cell {
    width: 75px;
    height: 75px;
  }

  #cell-container {
    width: 225px;
  }
}
