* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(135deg, #cf9aff, #95c0ff);
  padding-top: 4%;
  padding-left: 10%;
}

.container h1 {
  font-size: 35px;
  display: flex;
  align-items: center;
}

.container h1 img {
  width: 55px;
}

.container button {
  display: flex;
  align-items: center;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 30px 0 20px;
  cursor: pointer;
}
.container button img {
  width: 25px;
  margin-right: 8px;
}
.input-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  color: #333;
  outline: none;
  border-radius: 5px;
  min-height: 150px;
  margin: 20px 0;
  padding: 20px;
}

.input-box img {
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .input-box {
    width: 95%;
  }
  .container {
    padding-left: 5%;
    padding-top: 30%;
  }
}
