* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #0b0431;
  margin-top: 10px;
}
.container {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

#left,
#right {
  width: 300px;
  min-height: 400px;
  border: 2px dashed #fff;
  margin: 20px;
}

.list {
  background-color: #e91e63;
  margin: 20px;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: grab;
}

.list img {
  width: 12px;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 20px;
  }
}
